###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
#*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just uncomment the entries below
###############################################################################
#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.vcxproj   merge=binary
#*.vcproj    merge=binary
#*.dbproj    merge=binary
#*.fsproj    merge=binary
#*.lsproj    merge=binary
#*.wixproj   merge=binary
#*.modelproj merge=binary
#*.sqlproj   merge=binary
#*.wwaproj   merge=binary

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
#*.jpg   binary
#*.png   binary
#*.gif   binary

###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDRm8gInEF0mR4Slnsa55OnXNxXOLvW0/0Jm3f4RphmlvxdxNuD5pwzUTK6dNBnrO+0F2EQd9Cl7NtM3nJa7NxcKlVItVEsvMsR57vpGgHNazT1CHbBdFpelh6WZZZrqq2YVWln7XllXYEYrZKPaXW9gK9w68ircn52H3YBB5DWqfMtZOafOzxQLZ+I0t1tqNhNAUsq8NPjyd3D8SUWR3SQ7/nXZSAP8kCWruotTh/lTQHnrRDJ55Pxg9sKH59ndsWMIhOMXkVJcatFIG/yLT1M26PYPDYReVpy8Yejs8E1KpsOi/410z6OMLynkLf+kfzVyvblfpasJ5YmoTDRt7SSjUxv8tpCrFd+gI5p0HNDyi1C2+EC0f2tOrZ/ftuR3yJ9X9STh75grmNyAC5BUkyIOClNUPcpZdS9vJM+hhMqgIZxpLKRql/KW74iec7qzlcT0sdoetDGxS9igSHMRZ/q7bMXPwjQX0byXMybCxIii/Ds1gqlsHWMAASDsaDGQw0= manyee_w@126.com
